# Pegando os dados do CSV e tratando:   (skiprows=1, nrows=1)

In [6]:
import pandas as pd

#### steamspy_insights.csv (developer;	publisher;	languages;	genres)

In [7]:
dspy = pd.read_csv('.\\DataCSV\\steamspy_insights.csv', sep=',',on_bad_lines='warn')

df_filtrado=dspy[dspy["genres"]!=r"\N"]
df_filtrado[["app_id","developer","publisher","languages","genres"]]

,app_id,developer,publisher,languages,genres
0,10,Valve,Valve,"English, French, German, Italian, Spanish - Sp...",Action
1,20,Valve,Valve,"English, French, German, Italian, Spanish - Sp...",Action
2,30,Valve,Valve,"English, French, German, Italian, Spanish - Spain",Action
3,40,Valve,Valve,"English, French, German, Italian, Spanish - Sp...",Action
4,50,Gearbox Software,Valve,"English, French, German, Korean",Action
...,...,...,...,...,...
139223,3261870,Archor Wright,Archor Games,English,"Action, Indie"
139237,3262200,SeikaGames,SeikaGames,"English, French, Italian, German, Simplified C...","Casual, Indie, Strategy"
139420,3266470,EroticGamesClub,EroticGamesClub,English,"Adventure, Casual, Indie"
139817,3278740,Revolt Games,Strategy First,"English, Russian",Action
139926,3284050,Elephant Games AR,Big Fish Games,"English, French, German","Adventure, Casual"

#### tags.csv

In [9]:
dtags = pd.read_csv('.\\DataCSV\\tags.csv', sep=',')

dtags

          app_id             tag
0             10           1980s
1             10          1990's
2             10          Action
3             10        Assassin
4             10         Classic
...          ...             ...
1744627  3298710          Puzzle
1744628  3298710        Relaxing
1744629  3298710  Sexual Content
1744630  3298710    Singleplayer
1744631  3298710         Western

[1744632 rows x 2 columns]

#### reviews.csv (review_score;	review_score_description;	positive;	negative;	total;	metacritic_score;	recommendations)

In [7]:
drev = pd.read_csv('.\\DataCSV\\reviews.csv', sep=',')

condicao_total = drev['total'] != 0

df_filtrado = drev[condicao_total]
df_filtrado[["app_id","review_score","review_score_description","positive","negative","total","metacritic_score","recommendations"]]

C:\Users\P. Henrique\AppData\Local\Temp\ipykernel_20676\3834825867.py:1: DtypeWarning: Columns (0,1,3,4,5,9,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('.\\DataCSV\\reviews.csv', sep=',')

,app_id,review_score,review_score_description,positive,negative,total,metacritic_score,recommendations
0,10,9,Overwhelmingly Positive,235403,6207,241610,88,153259
1,20,8,Very Positive,7315,1094,8409,\N,6268
2,30,8,Very Positive,6249,672,6921,79,4146
3,40,8,Very Positive,2542,524,3066,\N,2218
4,50,9,Overwhelmingly Positive,22263,1111,23374,\N,20144
...,...,...,...,...,...,...,...,...
140101,3289180,0,5 user reviews,5,0,5,\N,\N
140110,3289990,0,6 user reviews,6,0,6,\N,\N
140138,3294470,0,1 user reviews,1,0,1,\N,\N
140147,3296020,0,2 user reviews,2,0,2,\N,\N
140150,3297890,0,1 user reviews,0,1,1,\N,\N

#### newpromotional.csv (header_image;	background_image)

In [10]:
dnpromo = pd.read_csv('.\\DataCSV\\newpromotional.csv', sep=',')

dnpromo

,app_id,header_image,background_image
0,10,https://shared.akamai.steamstatic.com/store_it...,https://shared.akamai.steamstatic.com/store_it...
1,20,https://shared.akamai.steamstatic.com/store_it...,https://shared.akamai.steamstatic.com/store_it...
2,30,https://shared.akamai.steamstatic.com/store_it...,https://shared.akamai.steamstatic.com/store_it...
3,40,https://shared.akamai.steamstatic.com/store_it...,https://shared.akamai.steamstatic.com/store_it...
4,50,https://shared.akamai.steamstatic.com/store_it...,https://shared.akamai.steamstatic.com/store_it...
...,...,...,...
140077,3297700,https://shared.akamai.steamstatic.com/store_it...,\N
140078,3297890,https://shared.akamai.steamstatic.com/store_it...,https://shared.akamai.steamstatic.com/store_it...
140079,3298020,https://shared.akamai.steamstatic.com/store_it...,https://shared.akamai.steamstatic.com/store_it...
140080,3298610,https://shared.akamai.steamstatic.com/store_it...,\N
140081,3298710,https://shared.akamai.steamstatic.com/store_it...,https://shared.akamai.steamstatic.com/store_it...

#### categories.csv

In [11]:
dcate = pd.read_csv('.\\DataCSV\\categories.csv', sep=',')

dcate

         app_id                 category
0            10           Family Sharing
1            10             Multi-player
2            10               Online PvP
3            10                      PvP
4            10  Shared/Split Screen PvP
...         ...                      ...
522577  3298610                Game demo
522578  3298710  Full controller support
522579  3298710            Single-player
522580  3298710       Steam Achievements
522581  3298710              Steam Cloud

[522582 rows x 2 columns]

#### descriptions.csv (summary;	extensive;	about)

In [24]:
ddesc = pd.read_csv('.\\DataCSV\\descriptions.csv', sep=',',on_bad_lines='warn')

df_filtred=ddesc[ddesc["summary"]!=r"\N"]
df_filtred[["app_id","summary","extensive","about"]]

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

,app_id,summary,extensive,about
0,10,Play the world's number 1 online action game. ...,Play the world's number 1 online action game. ...,Play the world's number 1 online action game. ...
1,20,One of the most popular online action games of...,One of the most popular online action games of...,One of the most popular online action games of...
2,30,Enlist in an intense brand of Axis vs. Allied ...,Enlist in an intense brand of Axis vs. Allied ...,Enlist in an intense brand of Axis vs. Allied ...
3,40,Enjoy fast-paced multiplayer gaming with Death...,Enjoy fast-paced multiplayer gaming with Death...,Enjoy fast-paced multiplayer gaming with Death...
4,50,Return to the Black Mesa Research Facility as ...,Return to the Black Mesa Research Facility as ...,Return to the Black Mesa Research Facility as ...
...,...,...,...,...
63070,3286710,Softie is a short creepy (but cute!) point-and...,"<p class=\bb_paragraph\""><img class=\""bb_img\""...","<p class=\bb_paragraph\""><img class=\""bb_img\""..."
63078,3287270,The Demo for Roy Rattler,"<p class=\bb_paragraph\"">The Demo for Roy Ratt...","<p class=\bb_paragraph\"">The Demo for Roy Ratt..."
63083,3287450,本体験版は、神椿市建設中。REGENERATEの一部がプレイ可能です。 製品版とは異なる場合...,"<p class=\bb_paragraph\"">本体験版は、神椿市建設中。REGENERA...","<p class=\bb_paragraph\"">本体験版は、神椿市建設中。REGENERA..."
63090,3288870,Get ready for non-stop action in TAKEDOWN: Las...,"Lock, load, and prepare for the ultimate rush ...","Lock, load, and prepare for the ultimate rush ..."
63103,3293840,You are on a service to detect and destroy mim...,\N,\N

#### games.csv (app_id; name; release_date; is_free; type)

In [9]:
dgames = pd.read_csv('.\\DataCSV\\newgames.csv', sep=',')

dgames

C:\Users\P. Henrique\AppData\Local\Temp\ipykernel_20636\2311738215.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  dgames = pd.read_csv('.\\DataCSV\\newgames.csv', sep=',')

         app_id                        name release_date is_free  type
0            10              Counter-Strike   2000-11-01       0  game
1            20       Team Fortress Classic   1999-04-01       0  game
2            30               Day of Defeat   2003-05-01       0  game
3            40          Deathmatch Classic   2001-06-01       0  game
4            50   Half-Life: Opposing Force   1999-11-01       0  game
...         ...                         ...          ...     ...   ...
140077  3297700                  Hacky Demo           \N       1  demo
140078  3297890        Quantum of Hope Demo           \N       1  demo
140079  3298020      A Night With: Succubus           \N       0  game
140080  3298610               心所向往的北极星 Demo           \N       1  demo
140081  3298710  S.X.E. Slider: Hard Ridin'           \N       0  game

[140082 rows x 5 columns]