In [4]:
import pandas as pd

df = pd.read_csv('.\\DataCSV\\tags.csv', sep=',')

df

          app_id             tag
0             10           1980s
1             10          1990's
2             10          Action
3             10        Assassin
4             10         Classic
...          ...             ...
1744627  3298710          Puzzle
1744628  3298710        Relaxing
1744629  3298710  Sexual Content
1744630  3298710    Singleplayer
1744631  3298710         Western

[1744632 rows x 2 columns]

In [10]:
df = pd.read_csv('.\\DataCSV\\categories.csv', sep=',')
df.query('app_id == 311210')

TypeError: 'method' object is not subscriptable