In [ ]:
import pandas as pd

df = pd.read_csv('.\\DataCSV\\steamspy_insights.csv', sep=',',on_bad_lines='warn')

df_filtrado=df[df["genres"]!=r"\N"]
df_filtrado[["app_id","developer","publisher","languages","genres"]]

C:\Users\P. Henrique\AppData\Local\Temp\ipykernel_1056\3046277561.py:3: ParserWarning: Skipping line 7794: expected 14 fields, saw 15
Skipping line 18736: expected 14 fields, saw 15
Skipping line 27289: expected 14 fields, saw 15
Skipping line 45282: expected 14 fields, saw 15
Skipping line 45678: expected 14 fields, saw 18

  df = pd.read_csv('.\\DataCSV\\steamspy_insights.csv', sep=',',on_bad_lines='warn')
C:\Users\P. Henrique\AppData\Local\Temp\ipykernel_1056\3046277561.py:3: ParserWarning: Skipping line 65747: expected 14 fields, saw 15
Skipping line 84069: expected 14 fields, saw 15

  df = pd.read_csv('.\\DataCSV\\steamspy_insights.csv', sep=',',on_bad_lines='warn')
C:\Users\P. Henrique\AppData\Local\Temp\ipykernel_1056\3046277561.py:3: ParserWarning: Skipping line 131581: expected 14 fields, saw 16

  df = pd.read_csv('.\\DataCSV\\steamspy_insights.csv', sep=',',on_bad_lines='warn')

,app_id,developer,publisher,languages,genres
0,10,Valve,Valve,"English, French, German, Italian, Spanish - Sp...",Action
1,20,Valve,Valve,"English, French, German, Italian, Spanish - Sp...",Action
2,30,Valve,Valve,"English, French, German, Italian, Spanish - Spain",Action
3,40,Valve,Valve,"English, French, German, Italian, Spanish - Sp...",Action
4,50,Gearbox Software,Valve,"English, French, German, Korean",Action
...,...,...,...,...,...
139215,3261870,Archor Wright,Archor Games,English,"Action, Indie"
139229,3262200,SeikaGames,SeikaGames,"English, French, Italian, German, Simplified C...","Casual, Indie, Strategy"
139412,3266470,EroticGamesClub,EroticGamesClub,English,"Adventure, Casual, Indie"
139809,3278740,Revolt Games,Strategy First,"English, Russian",Action
139918,3284050,Elephant Games AR,Big Fish Games,"English, French, German","Adventure, Casual"

In [55]:
df = pd.read_csv('.\\DataCSV\\steamspy_insights.csv', sep=',', skiprows=18735, nrows=1)

df

,683220,"Nikita \Ghost_RUS\""","""Underanger TheGachiWarrior","Ghost_RUS Games""","0 .. 20,000",0,0.1,0.2,0.3,0.4,99,99.1,0.5,"English, Russian","Casual, Indie, Simulation"
0,683230,White Dog Games,SA Industry,"0 .. 20,000",0,0,0,0,0,899,899,0,English,"Action, Adventure, Indie",NaN

In [12]:
df = pd.read_csv('.\\DataCSV\\tags.csv', sep=',')

df

          app_id             tag
0             10           1980s
1             10          1990's
2             10          Action
3             10        Assassin
4             10         Classic
...          ...             ...
1744627  3298710          Puzzle
1744628  3298710        Relaxing
1744629  3298710  Sexual Content
1744630  3298710    Singleplayer
1744631  3298710         Western

[1744632 rows x 2 columns]

In [49]:
df = pd.read_csv('.\\DataCSV\\reviews.csv', sep=',',on_bad_lines='warn')

condicao_total = df['total'] != 0

df_filtrado = df[condicao_total]

df_filtrado[["app_id","review_score","review_score_description","positive","negative","total","metacritic_score","reviews","recommendations"]]

C:\Users\P. Henrique\AppData\Local\Temp\ipykernel_1056\3981716408.py:1: ParserWarning: Skipping line 50: expected 13 fields, saw 14
Skipping line 180: expected 13 fields, saw 17
Skipping line 731: expected 13 fields, saw 17
Skipping line 866: expected 13 fields, saw 16
Skipping line 867: expected 13 fields, saw 20
Skipping line 878: expected 13 fields, saw 18
Skipping line 923: expected 13 fields, saw 20
Skipping line 1062: expected 13 fields, saw 24
Skipping line 1731: expected 13 fields, saw 16
Skipping line 1732: expected 13 fields, saw 17
Skipping line 1733: expected 13 fields, saw 15
Skipping line 1835: expected 13 fields, saw 16
Skipping line 1955: expected 13 fields, saw 14
Skipping line 2311: expected 13 fields, saw 19
Skipping line 16858: expected 13 fields, saw 18

  df = pd.read_csv('.\\DataCSV\\reviews.csv', sep=',',on_bad_lines='warn')
C:\Users\P. Henrique\AppData\Local\Temp\ipykernel_1056\3981716408.py:1: ParserWarning: Skipping line 104295: expected 13 fields, saw 16

  df = pd.read_csv('.\\DataCSV\\reviews.csv', sep=',',on_bad_lines='warn')
C:\Users\P. Henrique\AppData\Local\Temp\ipykernel_1056\3981716408.py:1: DtypeWarning: Columns (0,1,3,4,5,9,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('.\\DataCSV\\reviews.csv', sep=',',on_bad_lines='warn')

,app_id,review_score,review_score_description,positive,negative,total,metacritic_score,reviews,recommendations
0,10,9,Overwhelmingly Positive,235403,6207,241610,88,\N,153259
1,20,8,Very Positive,7315,1094,8409,\N,\N,6268
2,30,8,Very Positive,6249,672,6921,79,\N,4146
3,40,8,Very Positive,2542,524,3066,\N,\N,2218
4,50,9,Overwhelmingly Positive,22263,1111,23374,\N,\N,20144
...,...,...,...,...,...,...,...,...,...
140085,3289180,0,5 user reviews,5,0,5,\N,\N,\N
140094,3289990,0,6 user reviews,6,0,6,\N,\N,\N
140122,3294470,0,1 user reviews,1,0,1,\N,\N,\N
140131,3296020,0,2 user reviews,2,0,2,\N,\N,\N
140134,3297890,0,1 user reviews,0,1,1,\N,\N,\N